@use "../sass/mixins";

body {
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    background-color: aquamarine;
    min-height: 50vh;
}
h1{
    background-color: bisque;
    margin: 0;
    @include mixins.formato-texto(#2b2b2b);
}
p{
    background-color: burlywood;
    @include mixins.formato-texto();
}

.listado{
    width: 10rem;
    background-color: aqua;
    padding: 2rem;
    li{
        color: red;
        list-style: disc;

        &:hover{
            color: white;
        }
    }
}
