/* @import podemos añadir desde aqui la fuente de google font, para tener todo lo relacionado
con estilos juntos y no emborronamos el html*/

body{
    padding: 0;
    margin: 0;
}
p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700; /*bold a partir de 700*/
    font-style: italic;
}
.fondo{
    /*background-color: aqua;*/
    background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000);
    width: auto;
    height: 200px;
}