
.contenedor p{
    color: black;
}
/*
:hover
*/
.pseudoclases{
    width: 300px;
    height: 300px;
    background-color: green;
}
.pseudoclases:hover{
    background-color: white;
}
/*
:first-child
*/
p:first-child{
    color: red;
}
/*Pseudo de estados enlaces*/
a:link{
    color: green;
}
a:visited{
    color:hotpink;
}
a:hover{
    color: lightgreen;
}
a:active{
    color: greenyellow;
}
.pseudoelementos{
    width: 300px;
    height: 300px;
    background-color: aquamarine;
}
